/* Estilo Geral está como reset.css */

body{
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  width: 1280px;
}

form{
  background-color: #fff;
  width: 500px;
  height: 450px;
  border: 1px solid transparent; 
  border-radius: 10px;
  box-shadow: 2px 2px 15px 2px #ea5b5b30;
  padding: 10px;
  align-items: center;
}

h1{
  text-align: center;
  margin: 10px;
  padding: 5px;
  font-size: 32px;
}

.campo{
  display: flex;
  align-items: center;
  margin: 5px;
  font-size: 14px;
}

.campo label{
  text-align: left;
  width: 200px;
  justify-content: flex-start;
}

.campo input{
  color: #000;
  background-color: #fff;
  border: 1px solid #ea5b5b;
  border-radius: 5px;
  padding: 5px;
}

.botao{
  border: 1px solid #ea5b5b;
  border-radius: 18px;
  background-color: #f1f1f1;
  color: #000;
  margin: 20px;
  margin-top: 50px;
  padding: 8px 4%;
  font-weight: 600;
  font-size: 12px;
  display: row;
  position: relative;
  left: 38%;
}

.botao:hover{
  color: #fff;
  background-color: #ea5b5b;
  border: 1px solid transparent;
}