@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f1f1f1;
}

.topo {
  width: 100%;
  max-width: 1280px;
  height: 60px; 
  background-color: #bfacac;
  padding: 20px; /* Espaçamento interno do menu */
  margin-bottom: 2em; /* Use unidades de medida relativas */
}


/* Rodapé */
footer {
  background-color: #bfacac;
  padding: 30px;
  clip-path: polygon(0 100%, 100% 150%, 100% 0, 50% 150%, 0 0);
}
