body {
  background-color: #f1f1f1;
  height: 100vh;
}

footer {
  background-color: #bfacac;
  padding: 40px;
  clip-path: polygon(0 100%, 100% 150%, 100% 0, 50% 150%, 0 0);
}

header {
  display: flex;
  justify-content: space-around; 
  align-items: center;
  padding: 10px;
  background-color: #bfacac;
  height: 60px;
}

#logo {
  margin-left: 0;
  flex-grow: 1;
}

input[type="text"] {
  display: flex;
  margin-right: 20px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  margin-right: 30%;
}

/*
header .barra-pesquisa {
  border-radius: 10px;
  border: none;
  padding: 10px;
  height: 50px;
  justify-content: center;
  margin-left: 100px;
} 
*/

/* Estilo do menu lateral */

.sidebar {
  position: fixed; 
  top: 20px;
  left: 10px;
  width: 170px;
  height: 100vh;
  padding-top: 60px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li a {
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.sidebar ul li a {
  text-decoration: none;
  color: #000;
  display: block;
  font-size: 16px;
}

.sidebar ul li a:hover {
  color: #fff;
  font-weight: 600;
  background-color: #ea5b5b;
  border-radius: 10px;
}

.submenu {
  display: none;
}

.submenu.ativo {
  display: block;
}

.submenu ul {
  list-style: none;
  padding-left: 20px;
}

.submenu ul li {
  padding: 5px 0;
  transition: background-color 0.3s ease;
}

.submenu ul li a {
  color: #000;
  text-decoration: none;
  font-size: 14px;
}

