* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column; 
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1; 
}

.topo {
  width: 100%;
  max-width: 1280px;
  height: 60px; 
  background-color: #bfacac;
  padding: 20px; /* Espaçamento interno do menu */
  margin-bottom: 2em; /* Use unidades de medida relativas */
}

.titulo {
  font-size: 22px;
  margin-top: 30px;
  text-align: center;
}

form {
  margin-top: 50px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 15px 2px #ea5b5b50;
}

.campo {
  display: flex;
  align-items: center;
  margin: 1em 0.5em; /* Use unidades de medida relativas */
  padding: 1em;
}

label {
  font-weight: 600;
  font-size: 14px;
  padding: 1em;
}

input {
  color: #000;
  background-color: #fff;
  border: 1px solid #ea5b5b;
  border-radius: 5px;
  width: 100%;
  max-width: 220px; /* Use unidades de medida relativas */
  padding: 0.5em;
}

.btn {
  border: 1px solid #ea5b5b;
  color: #000;
  background-color: #f1f1f1;
  border-radius: 18px;
  padding: 0.8em 2em; /* Ajustado para valores mais previsíveis */
  margin: 16px;
  font-weight: 600;
  font-size: 12px;
  display: row;
  position: relative;
  left: 60px;
  
}

.btn:hover {
  color: #fff;
  background-color: #ea5b5b;
  border: 1px solid transparent;
}
